parameters:
	level: max
	bootstrapFiles:
		- phpstan-bootstrap.php
	stubFiles:
		- tests/PHPStan/stubs/Doctrine/ORM/Query.php
		- tests/PHPStan/stubs/Doctrine/ORM/QueryBuilder.php
		- tests/PHPStan/stubs/IPub/DoctrineOrmQuery/QueryObject.php

