parameters:
	bootstrap: phpstan-bootstrap.php
	level: max
	stubFiles:
		- tests/PHPStan/stubs/Doctrine/ORM/Query.php
		- tests/PHPStan/stubs/Doctrine/ORM/QueryBuilder.php
		- tests/PHPStan/stubs/IPub/DoctrineOrmQuery/QueryObject.php

