#
# Service DI configuration
#
# @license		More in license.md
# @copyright	https://www.fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package		FastyBird:GatewayNode!
# @subpackage	config
# @since		0.1.0
#
# @date			13.04.20

##############################
# Node predefined parameters #
##############################

parameters:
	origin: com.fastybird.gateway-node

	rabbitmq:
		queueName: fb.gateway.node.exchange

#########################
# Used Nette extensions #
#########################

extensions:
	contributteTranslation		: Contributte\Translation\DI\TranslationExtension
	ipubDoctrineConsistence		: IPub\DoctrineConsistence\DI\DoctrineConsistenceExtension
	ipubDoctrineCrud			: IPub\DoctrineCrud\DI\DoctrineCrudExtension
	ipubDoctrineTimestampable	: IPub\DoctrineTimestampable\DI\DoctrineTimestampableExtension
	nettrineAnnotations			: Nettrine\Annotations\DI\AnnotationsExtension
	nettrineCache				: Nettrine\Cache\DI\CacheExtension
	nettrineDbal				: Nettrine\DBAL\DI\DbalExtension
	nettrineOrm					: Nettrine\ORM\DI\OrmExtension
	nettrineOrmAnnotations		: Nettrine\ORM\DI\OrmAnnotationsExtension
	nettrineOrmConsole			: Nettrine\ORM\DI\OrmConsoleExtension
	nettrineOrmCache			: Nettrine\ORM\DI\OrmCacheExtension
	nodeWebServer				: FastyBird\NodeWebServer\DI\NodeWebServerExtension

##################################
# Nette extensions configuration #
##################################

# Node web server
#################
nodeWebServer:
	server:
		address: %server.address%
		port: %server.port%

# Node translations
###################
contributteTranslation:
	locales:
		default: en_US
		fallback: [en_US, en]
	localeResolvers: []
	dirs:
		- %appDir%/src/Translations

# Doctrine DBAL
###############
nettrineDbal:
	connection:
		serverVersion: %database.version%
		host: %database.host%
		port: %database.port%
		driver: %database.driver%
		memory: %database.memory%
		dbname: %database.dbname%
		user: %database.username%
		password: %database.password%
		charset: utf8

		types:
			uuid_binary:
				class: Ramsey\Uuid\Doctrine\UuidBinaryType
				commented: false
			utcdatetime:
				class: IPub\DoctrineTimestampable\Types\UTCDateTime
				commented: false

		typesMapping:
			uuid_binary: binary

# Doctrine ORM annoations
#########################
nettrineAnnotations:
	debug: %debugMode%
	ignore:
		- writable
		- validator
		- required
		- module
		- author
		- subpackage
		- package

# Doctrine ORM
##############
nettrineOrm:
	configuration:
		proxyDir	: %tempDir%/cache/doctrine.proxies

nettrineOrmAnnotations:
	paths:
		- %appDir%/src/Entities

#############################
# Node services definitions #
#############################

decorator:
	FastyBird\NodeWebServer\Commands\HttpServerCommand:
		setup:
			- '$onRequest[]' = @FastyBird\GatewayNode\Events\RequestHandler

services:
	# Http middlewares
	##################

	-
		factory: FastyBird\GatewayNode\Middleware\CorsMiddleware
		arguments:
			-
				headers.allow:
					- accept
					- authorization
					- content-type
					- x-api-key

				headers.expose:
					- x-member-instance
		tags:
			middleware: {priority: 60}

	- {factory: FastyBird\GatewayNode\Middleware\DbErrorMiddleware, tags: [middleware: {priority: 50}]}

	- {factory: FastyBird\GatewayNode\Middleware\LoggerMiddleware, tags: [middleware: {priority: 40}]}

	- {factory: FastyBird\GatewayNode\Middleware\ApiKeyValidatorMiddleware, tags: [middleware: {priority: 30}]}

	# Node events
	#############

	- {factory: FastyBird\GatewayNode\Events\RequestHandler}

	# Console commands
	##################

	- {factory: FastyBird\GatewayNode\Commands\Keys\CreateCommand}

	- {factory: FastyBird\GatewayNode\Commands\Routes\CreateCommand}

	# Database repositories
	#######################

	- {factory: FastyBird\GatewayNode\Models\Keys\KeyRepository}

	- {factory: FastyBird\GatewayNode\Models\Routes\RouteRepository}

	- {factory: FastyBird\GatewayNode\Models\Routes\Nodes\NodeRepository}

	# Database managers
	###################

	- {factory: FastyBird\GatewayNode\Models\Keys\KeysManager(@ipubDoctrineCrud.crud::create(FastyBird\GatewayNode\Entities\Keys\Key))}

	- {factory: FastyBird\GatewayNode\Models\Routes\RoutesManager(@ipubDoctrineCrud.crud::create(FastyBird\GatewayNode\Entities\Routes\Route))}
