parameters:
	logger:
		level: \Monolog\Logger::DEBUG

	database:
		version: 5.7
		host: 127.0.0.1
		port: 3306
		driver: pdo_mysql
		memory: false
		dbname: gateway_node
		username: root
		password:

	rabbitmq:
		host: 127.0.0.1
		port: 5672
		vhost: /
		username: guest
		password: guest

	server:
		address: 0.0.0.0
		domain: localhost
		port: 8000
