parameters:
	logger:
		level: \Monolog\Logger::DEBUG

	database:
		version: 5.7
		host: 127.0.0.1
		port: 3306
		driver: pdo_mysql
		memory: false
		dbname: gateway_node
		username: root
		password:

	server:
		address: 0.0.0.0
		port: 8000

	security:
		signature: 'g3xHbkELpMD9LRqW4WmJkHL7kz2bdNYAQJyEuFVzR3k='
		cors:
			origin: *
			protocol: http
			domain: localhost
			port: 8000

	nodes:
		auth-node:
			host: localhost
			port: 8001
			secured: false
			prefix: auth-node
		devices-node:
			host: localhost
			port: 8002
			secured: false
			prefix: devices-node
		triggers-node:
			host: localhost
			port: 8003
			secured: false
			prefix: triggers-node
		ui-node:
			host: localhost
			port: 8003
			secured: false
			prefix: ui-node
